    <nav>
		<div class="logo">
			<img src="/components/media/img/logo/logo.png" alt="">
		</div>
		<div class="links">
			<a href="/index.html">Home
				<div class="line"></div>
			</a>
			<a href="/about/">About
				<div class="line"></div>
			</a>
			<a href="/work/">Work
				<div class="line"></div>
			</a>
			<a href="/contact/">Contact me
				<div class="line"></div>
			</a>
		</div>

		<div class="hamburger">
			<div class="ham-line ham-line-one"></div>
			<div class="ham-line ham-line-two"></div>
			<div class="ham-line ham-line-three"></div>
		</div>
	</nav>

    <script src="/components/media/js/navbar.js"></script>
    